/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* end of reset */

/* 
* Base styles
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #eec67e;
}

body header {
  width: 100%;
  background-color: #eec67e;
  border-bottom: solid 2px rgb(72, 67, 99);
}

body header ul {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: right;
  padding: 0px 20px;
}

body header li {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: space-around;
  padding: 0px 20px;
}

body header a {
  text-decoration: none;
  color: rgb(72, 67, 99);
  font-size: 20px;
  font-size: bold;
  cursor: pointer;
}

footer {
  position: absolute;
  background-color: navy;
  width: 100%;
  bottom: 0;
}

footer p {
  color: #eec67e;
  font-size: 15px;
  margin: 10px;
}
