.frame {
  background-color: rgb(110, 204, 223);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: navy;
  font-size: 60px;
  margin: 15px 0px;
}

.box {
  background-color: rgb(241, 235, 231);
  height: 100px;
  width: 140px;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: navy;
  border: rgb(204, 223, 110) solid 2px;
  transform: translateX(2000%);
  transition: transform 0.8s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-2000%);
}

.box.show {
  transform: translateX(0);
}
